/* External Credentials styles sheet */

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
}


/* Common styles for both login and signup containers */
.login-container, .signup-container {
    width: 400px;
    margin: 100px auto;
    background-color: #e4e4e4;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}

/* Style for the logo */
.Techies-logo {
    max-width: 100px;
    margin-bottom: 20px;
}

/* Common styles for login and signup form inputs */
.login-form input, .signup-form input {
    width: calc(100% - 30px);
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    margin: 10px auto; /* Center horizontally */
}

/* Common style for login and signup form buttons */
.login-form button, .signup-form button {
    padding: 8px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f3f3f3;
    cursor: pointer;
}

/* Style for the signup text */
.signup-text {
    margin-top: 20px;
}

/* Style for the signup link */
.signup-text a {
    color: #007bff;
    text-decoration: none;
}

/* Hover style for the signup link */
.signup-text a:hover {
    text-decoration: underline;
}
